.containerMovements {
  display: flex;
  width: 650px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  border: 1px solid #ddd;
}
.containerMovements:first-child {
  margin-top: 120px;
}
.MovementsDatos {
  width: 80%;
}
.MovementsName {
  font-size: 23px;
  padding: 5px 0px 0px 20px;
  color: #0c889f;
  font-weight: 600;
}
.MovementsFecha {
  padding: 0px 0px 10px 20px;
  font-size: 13px;
  color: #888;
}
.amount {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bolder;
  color: #20ab18;
  padding-right: 20px;
  font-size: 20px;
}

.MovementsTitle {
  position: fixed;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  background-color: #fff;
}
.MovementsTitle > h1 {
  font-weight: 700;
  font-size: 32px;
  color: #777;
  text-decoration-line: underline;
}
.MovementsTitle > button {
  box-shadow: 0 10px 13px -6px #06b6d6;
  background-image: linear-gradient(to right, #06b6d6, #4dc5e6);
  color: white;
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 18px;
  transition: transform 0.1s;
}
.MovementsTitle > button:hover {
  transform: scale(1.05);
  background-image: linear-gradient(to right, #09d0f3, #29ccf9);
}
.MovementsTitle > button:active {
  transform: scale(1);
}
.spanText {
  font-size: 17px;
  padding-left: 7px;
}