.containerMovements {
  display: flex;
  width: 650px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  border: 1px solid #ddd;
}
.containerMovements:first-child {
  margin-top: 120px;
}
.MovementsDatos {
  width: 80%;
}
.MovementsName {
  font-size: 23px;
  padding: 5px 0px 0px 20px;
  color: #0c889f;
  font-weight: 600;
}
.MovementsFecha {
  padding: 0px 0px 10px 20px;
  font-size: 13px;
  color: #888;
}
.amount {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bolder;
  color: #20ab18;
  padding-right: 20px;
  font-size: 20px;
}

.MovementsTitle {
  position: fixed;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #06b6d6, #4dc5e6);
  box-shadow: 0 10px 15px -3px #06b6d675, 0 0px 1px -4px #06b6d691;
  width: 100%;
  top: 0;
}
.MovementsTitle > h1 {
  color: #fff;
  font-size: 38px;
}
.MovementsTitle > button {
  color: white;
  position: absolute;
  top: 28%;
  right: 30px;
  font-size: 40px;
}
