@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,900&family=PT+Serif:ital,wght@1,700&family=Salsa&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600&display=swap");

.navbarLanding {
  box-shadow: 0 0px 7px 0px #06b6d6;
  background-image: linear-gradient(to right, #06b6d6, #4dc5e6);
  font-family: "Inter";
}
.botonsUL {
  align-items: center;
  width: 973px;
}
.btnLogout {
  outline: 1px solid #fff;
}
.mainDashboard {
  height: 65%;
}
.optionsMainDashboard {
  transform: scale(0.9);
  margin: 0px 64px 22em 0px;
}
.containInfoCard {
  padding-left: 79px;
  padding-top: 6px;
  width: 85%;
  height: 100%;
  padding-bottom: 40px;
  box-shadow: none;
  background-color: transparent;
}
.statusCard {
  margin: 19px 98px;
  margin-top: 30px;
  width: 219px;
  height: 296px;
  padding: 10px;
  position: relative;
  background-image: linear-gradient(to right, #6ce2f7, #3aaccb);
}
h1.font-inter {
  padding-left: 9px;
}
.numberCard {
  padding-left: 10px;
}
.nameCard {
  font-size: 10px;
}
.chipCard {
  position: absolute;
  bottom: 18px;
  left: 4px;
  transform: scale(1);
}
.Price {
  margin-left: 83px;
  height: 102px;
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: center;
  font-size: 46px;
  font-family: inter;
  letter-spacing: -4px;
}
.nameBank {
  text-align: center;
}
.floatCard {
  height: 353px;
  background-image: linear-gradient(to right, #e1ebed, #ddf3f9);
  border-radius: 10px;
}
.navbarDashboard {
  height: 100%;
  padding: 3px 0px;
}
body {
  height: 100%;
}

li > .button {
  box-shadow: 0 10px 13px -6px #06b6d6;
  background-image: linear-gradient(to right, #06b6d6, #4dc5e6);
  color: #fff;
  padding: 2px 86px;
  border-radius: 10px;
  font-size: 18px;
  width: 100%;
  transition: transform 0.1s;
  outline: 1px solid #fff;
  margin-top: 6px;
  height: 108px;
  margin-left: -39px;
}
li > .button .img {
  width: 100%;
  color: #fff;
  padding-right: 22px;
}
.texto {
  font-size: 10px;
}
.button > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

li > .button:hover {
  transform: scale(1.05);
}
li > .button:active {
  transform: scale(1);
}
.spanText {
  font-size: 13px;
}
